@{
    Layout = null;
}
@{ 
    string word = "Hello";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/styles.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <p>Exercise 3 - Echo</p>
    </div>
    <small>

    </small>
    <ul class="echo" style="list-style:none">

        <li style="font-size: 25px">@word</li>
        <li style="font-size: 24px">@word</li>
        <li style="font-size: 23px">@word</li>
        <li style="font-size: 22px">@word</li>
        <li style="font-size: 21px">@word</li>
        <li style="font-size: 20px">@word</li>
        <li style="font-size: 19px">@word</li>
        <li style="font-size: 18px">@word</li>
        <li style="font-size: 17px">@word</li>
        <li style="font-size: 16px">@word</li>
        <li style="font-size: 15px">@word</li>
        <li style="font-size: 14px">@word</li>
        <li style="font-size: 13px">@word</li>
        <li style="font-size: 12px">@word</li>
        <li style="font-size: 11px">@word</li>
        <li style="font-size: 10px">@word</li>
        <li style="font-size: 9px">@word</li>
        <li style="font-size: 8px">@word</li>
        <li style="font-size: 7px">@word</li>
        <li style="font-size: 6px">@word</li>
        <li style="font-size: 5px">@word</li>
        <li style="font-size: 4px">@word</li>
        <li style="font-size: 3px">@word</li>
        <li style="font-size: 2px">@word</li>
        <li style="font-size: 1px">@word</li>
    </ul>
</body>
</html>
